* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

/* HERO */
/* NAVBAR */
.navbar {
  background: #111;
  padding: 15px ;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: orange;
  font-size: 1.6rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  color: orange;
}

.hero {
   position: relative;
  height: 90vh;
  overflow: hidden;
}
.hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(6px);
  transform: scale(1.1); }

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
}
.hero-top-img {
  width: 800px;
  margin-top: 20px;
}

/* .hero-content h1 {
  font-size: 3rem;
}

.hero-content p {
  margin: 15px 0;
  font-size: 1.2rem;
} */

.btn {
  display: inline-block;
  background: orange;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  text-align: center;
}

.section h2 {
  margin-bottom: 40px;
}

.light {
  background: #f4f4f4;
}

/* STEPS */
.steps {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 45px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
  transform:scale(1.2) translateY(-10px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);;
}

/* ISSUES */
.issues {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;

  
}


.issue-box {
   width: 160px;
  height: 160px;
  background: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;

  /* smooth animation */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.issue-box:hover {
  transform: scale(1.15) translateY(-10px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
}

/* CTA */
.cta {
  background: #1f3c88;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

/* FOOTER */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}
