* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

/* HERO */
/* NAVBAR */
.navbar {
  background: black;
  padding: 15px ;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: orange;
  font-size: 1.6rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  color: orange;
}

.hero {
   position: relative;
  height: 90vh;
  overflow: hidden;
}
.hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px);
  transform: scale(1.1); }

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: transparent;
  backdrop-filter: blur(5px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
  animation: float 3s ease-in-out infinite;
  border-radius: 10px;
  border:black solid 3px;
  width: 700px;
  height: 300px;
  margin-top:55px;
  transition: box-shadow 0.4s ease, border-color 0.4s ease;
}
.hero-content:hover {
  border-color: #6ee7b7; /* light green */
  transform: translateY(-5px);
  
  box-shadow:
    0 0 10px rgba(34, 139, 34, 0.4),   /* forest green */
    0 0 25px rgba(110, 231, 183, 0.6), /* light green */
    0 0 40px rgba(110, 231, 183, 0.6);
}
@keyframes float {
  0%, 100% {
    transform: translate(-50%, -50%) translateY(0);
    ;
  }
  50% {
    transform: translate(-50%, -50%) translateY(-20px);
    
    
  }
}
.hero-top-img {
  width: 800px;
  margin-top: 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-top: 40px;
}

.hero-content p {
  margin: 15px 0;
  font-size: 1.2rem;
}
.box1{
  width: 100px;
  height: 100px;
  background-color: transparent;
  position: absolute;
  top: 20%;
  left: 10%;
  animation: float1 4s ease-in-out infinite;
    border: 2px solid rgb(10, 111, 105);
    box-shadow: 0 0 20px rgba(18, 146, 114, 0.6);
    backdrop-filter: blur(5px);
}
.box2{
  width: 100px;
  height: 100px;
  background-color: transparent;
  position: absolute;
  top: 25%;
  left: 65%;
  animation: float1 4s ease-in-out infinite;
   border: 2px solid rgb(10, 111, 105);
   box-shadow: 0 0 20px rgba(18, 146, 114, 0.6);
   backdrop-filter: blur(5px);
}
.box3{
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 2px solid rgb(10, 111, 105);
  
  box-shadow: 0 0 20px rgba(18, 146, 114, 0.6);
  border-radius: 5px;
  opacity: 0.9;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 80%;
  left: 30%;
  animation: float1 4s ease-in-out infinite;
}
.box4{
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 2px solid rgb(10, 111, 105);
  box-shadow: 0 0 20px rgba(18, 146, 114, 0.6);
  opacity: 0.7;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 80%;
  left: 90%;
  animation: float1 4s ease-in-out infinite;
}
@keyframes float1 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.btn {
  display: inline-block;
  background: limegreen;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  text-align: center;
  
  background-image: url("green leaf.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  
}





.section h2 {
  margin-bottom: 40px;
}

.light {
  background: #f4f4f4;
}

/* STEPS */
.steps {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  background: rgb(182, 243, 182);
  padding: 45px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(30, 28, 28, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
  transform:scale(1.2) translateY(-10px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);;
}

/* ISSUES */
.issues {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;

  
}


.issue-box {
   width: 160px;
  height: 160px;
  background: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;

  /* smooth animation */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.issue-box:hover {
  transform: scale(1.15) translateY(-10px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
}

/* CTA */
.cta {
  background: #1f3c88;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

/* FOOTER */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}
