* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

/* HERO */
/* NAVBAR */
.navbar {
  background: #111;
  padding: 15px ;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: orange;
  font-size: 1.6rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  color: orange;
}

.hero {
  height: 90vh;
  background: linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.6)
    ),
    url("../images/PATHHOLE.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 3rem;
}

.hero-content p {
  margin: 15px 0;
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  background: orange;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  text-align: center;
}

.section h2 {
  margin-bottom: 40px;
}

.light {
  background: #f4f4f4;
}

/* STEPS */
.steps {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 25px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* ISSUES */
.issues {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.issue-box {
  background: white;
  padding: 30px;
  width: 180px;
  border-radius: 10px;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* CTA */
.cta {
  background: #1f3c88;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

/* FOOTER */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}
